.git
.github
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.swp
*.swo
.env
.env.local
/.venv/
/venv/
/build/
/dist/
/site/
/docs/_build/
/.mypy_cache/
/.pytest_cache/
*.egg-info/
coverage.xml
htmlcov/
.coverage
tests/__pycache__/
tests/.pytest_cache/